/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --black-color: #212121;
  --white-color: #ededed;
  --body-color: #343434;
  --second-body-col: #222222;


  /*========== Frgb(44, 47, 49) typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 0.938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  /* border: 1px solid magenta; */
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--white-color);
}
hr {
  color: #ededed;
}
ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
  font-size: 0.9rem;
}
h2{
  font-size: .8rem;
  font-weight: 200;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

section{
  margin: auto;
  padding: 9rem 9% 2rem ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  text-align: center;
  margin-bottom: .2rem;
}

h3 {
  font-size: 0.7rem;
  font-weight: 400;
}
a h1{
  color: var(--white-color);
}
p{
  font-size: .7rem;
}
.btn{
  color: var(--white-color);
}
button{
  margin-top: .4rem;
  padding: .3rem;
  background: rgb(94, 88, 88);
  color: var(--white-color);
  border-radius: .2rem;
  cursor: pointer;
}
button svg{
  margin-right: .3rem;
}
li{
  list-style-type: none;
}
#home,
#galery,
#about,
#support{
  background-color:var(--body-color);
}
#service,
#achiv,
#contact{
  background-color: var(--second-body-col);
}
/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__logo,
.nav__burger,
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-semi-bold);
  -webkit-tap-highlight-color: transparent;
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

/*=============== SECTION ===============*/
#home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  margin-top: 5rem;
  text-align: center;
}

.caption p {
  font-size: 0.7rem;
}
.caption h1 {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 2rem;
}
.recent-wrapper {
  margin-top: 2rem;
}
.recent-wrapper h1 {
  font-weight: 500;
  color: var(--white-color);
  font-size: 1rem;
  padding: 0.2rem 0;
}

.recent {
  flex-wrap: wrap;
  gap: 1.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.recent .img-wrapper > img {
  object-fit: cover;
  object-position: center;
  width: 18rem;
  height: 10rem;
  margin-bottom: 0.7rem;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .about-wrapper{
    flex-direction: column;
  }
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }
}

.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link,
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--black-color);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color 0.3s;
}

.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
  background-color: var(--body-color);
}

.dropdown__menu,
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== ACTIVE CLASS / HOVER ===============*/
.actived {
  color: rgb(162, 50, 22);
}

/* SECTION ABOUT */
.about-wrapper {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}
#about{
  height: fit-content;
}
.about-wrapper p {
  text-align: justify;
  font-size: .7rem;
}

/* SECTION GALERY */
.galery-wrapper{
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.galery-wrapper img{
  object-fit: cover;
  object-position: center;
}
#galery{
  gap: 2rem;
}
.galery-photo img{
  width: 12rem;
  height: 10rem;
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 3rem;
}

.pagination a{
  color: var(--white-color);
  padding: .9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pageAct{
  font-weight: bold;
  background-color:#007bff;
}

.card{
  width: 15rem;
  background:#3f3b3e;
  display: flex;
  flex-direction: column;
  border-radius: .4rem;
  transition: .5s ease-in-out;
  overflow: hidden;
}
.card:hover{
  transform: scale(1.1);
}
.card img{
  width: 100%;
  height: 10rem;
  object-fit: cover;
  object-position: center;
}
.card-cap{
  height: 100%;
  padding: .8rem;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}
.card-cap h1{
  font-size: .8rem;
  margin-bottom:.5rem;
}
.card-cap p {
  line-height: .9rem;
}

/* SECTION ACHIEVEMENT */
.achievment-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.achiv-card{
  width: 20rem;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 10px;
  animation: animasi-border 2s linear infinite; 
  padding: 1rem;
  gap: 1.2rem;
}
.achiv-card img{
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  align-self: center;
}
.achiv-card h1{
  text-align: center;
  font-size: 1.1rem;
}
/* LAYANAN */
.layanan-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
  height: fit-content;
}
/* SECTION SPONSOR */
#support i{
  margin-top: .6rem;
}
.support h2{
  text-align: center;
}
.support-image img{
  width: 15rem;
  height: 8rem;
  object-fit: cover;
  border: .2rem solid;
  border-radius: .3rem;
  border-right-color: #387564;
  border-top-color:#cc3741;
  border-left-color: #3b6ac6;
  border-bottom-color: #de7650;
}
.support{
  justify-content: center;
}
.card button,
 .card a{
  display: flex;
  align-items: center;
  justify-content: center;
  color:#3ea6ff;
  font-weight: bold;
  background: #263850;
}

/* FOOTER */
footer{
  padding: .8rem 7%;
  background:var(--black-color);
  text-align: center;
  color:var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer p{
  font-size: .8rem;
  font-weight: bold;
} 
.back-top{
  border: 1px solid var(--white-color);
  display: flex;
  align-items: center;
  padding:.5rem;
  border-radius: .3rem;
}

/* SECTION CONTACT */
.contact{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  gap: 2.1rem;
}
.contact form{
  width: 30rem;
  display: flex; 
  flex-direction: column;
  gap: 1rem;
}
.contact form li{
  display: flex;
}
.contact form label{
  flex: 1;
  background: #505050;
  padding: .3rem;
  color: #858585;
  font-weight: 700;
}
.contact form textarea{
  padding: .2rem;
  flex: 2;
  background: #161616;
  color: var(--white-color);
}
.contact form input {
  flex: 2;
  background: #161616;
  padding: .2rem;
  color: var(--white-color);
}
.contact form input:focus {
  outline: none;
  color: var(--white-color);
}
.contact form textarea:focus {
  outline: none;
  color: var(--white-color);
}
form button{
  background: blue;
}

.address{
  display: flex;
  background-color: rgb(50, 50, 50);
  border: .1rem solid #929191;
  border-radius: .3rem;
  width: 35%;
}
.contact svg{
  background: #5b5b5b;
  padding: .4rem;
  border-radius: 50%;
}
.vertical{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .2rem;
  border-right:.1rem solid #929191;
}
.horizontal{
  padding: 1rem;
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .4rem;
}
.horizontal h1{
  font-size: .8rem;
  font-weight: 200;
}
a svg{
  color: #ededed;
}



/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 720px) {
  section{
    justify-content: center;
  }
  .container {
    margin-inline: 1rem;
  }
  .recent .img-wrapper {
    width: 100%;
  }
  .recent .img-wrapper img {
    width: 100%;
  }

  .nav__link {
    padding-inline: 1rem;
  }
  .elemen {
    width: 100%;
  }
.galery-wrapper img{
    width: 100%;
}
.galery-photo{
  width: 100%;
}
.support-image{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.support-image img{
  width: 10rem;
  height: 10rem;
}
.layanan-wrapper{
  flex-direction: column;
  align-items: center;
}
.card{
  width: 100%;
}
.contact{
  flex-direction: column;
}
.contact form{
  width: 100%;
  order: 2;
}
.address{
  width: 100%;
  order: 1;
}
section{
  padding: 1rem;
}
.achiv-card{
  width: 90%;
}
}


/* For large devices */
@media screen and (min-width: 1118px) {
  html{
    font-size: 100%;
  }
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
  }

  .dropdown__link,
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top 0.3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top 0.3s;
  }
}

@keyframes animasi-border {
  0% {
    border-color: red;
  }
  25% {
    border-color: orange;
  }
  50% {
    border-color: yellow;
  }
  75% {
    border-color: green;
  }
  100% {
    border-color: blue;
  }
}

